@font-face {
  font-family: devnagiri;
  src: url(./NotoSerifDevanagari-VariableFont_wdth\,wght.ttf);
}

.App {
  text-align: center;
}

.post-img{
  height: 200px;
  object-fit: cover;
}
.img-container{
  object-fit: contain;
}
.edit-row{
  width: 200px;
}
/* Postpage.css */
.postpage-container {
  height: 100vh; /* Set the container height to the full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @media (max-width: 768px) {
  Adjust styles for mobile screens (max-width: 768px)
  .postpage-container {
    padding: 0 10px; Add some padding on mobile screens for better readability
  }

  .col-md-8.border.content-box {
    width: 780px; Make the content take full width on mobile screens
  }
} */
.share-btn{
  width: 200px;
}
.ad-box img{
 width: 100%;
}
@media (min-width:786px) {
  .content-box{
    background: rgb(241, 241, 241);
    box-sizing: content-box;
    width: 100%;
    font-family: devnagiri;
    
  }
  .content-box img{
  width: 90%;
  height: 90%;
  }
  .logo{
    width: 200px;
  }
}
@media (max-width:600px) {
  .content-box img{
    width: 100%;
    height: 100%;
    }
    .content-box{
      

    }
    .logo{
      width: 200px;
      margin-left: 83px;
    }
    
}
.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: #7f7e7e;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
}